.xs-format {
  width: 100% !important;
  margin-left: 0 !important;
}

.sm-format,
.md-format,
.lg-format,
.xl-format {
  width: 60%;
  margin-left: 20%;
}

#identification-page {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px !important;
  padding-bottom: 65px !important;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#777777), to(#303342));
  background-image: linear-gradient(to bottom right, #777777, #303342);
  /* Standard syntax (must be last) */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#identification-page .back-column {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100%;
  background-color: grey;
}

#identification-page .mini-toolbar {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-style: solid;
  border-bottom-style: none;
  border-color: #ebebeb;
  border-width: 2px;
  background-color: white;
}

#identification-page .mini-toolbar .mini-toolbar_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #383838;
}

#identification-page .stepper {
  border-radius: 0px;
  border-style: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 2px;
  background-color: white;
  height: 95%;
}

#identification-page .stepper .v-stepper__content {
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
}

#identification-page .stepper .progress-linear {
  position: absolute;
  bottom: 0px !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#identification-page .step-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 20px;
}

#identification-page .step-content .left_content-box {
  position: relative;
  width: 450px;
  min-width: 320px;
  margin-right: 40px;
}

#identification-page .step-content .left_content-box .fields {
  margin-top: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#identification-page .step-content .left_content-box .fields .custom-text-area {
  margin-top: 20px;
}

#identification-page .step-content .right_content-box {
  position: relative;
  width: 100% !important;
  min-width: 300px;
  height: 100%;
}

#identification-page .step-content .right_content-box .content-box {
  margin-top: 20px;
}

#identification-page .identify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

#identification-page .identify .service-number {
  position: relative;
}

#identification-page .identify .reception-date {
  position: relative;
  margin-left: 10px;
}

#identification-page .notes-box {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#identification-page .notes-box .damage {
  width: 45%;
  height: 50px;
  margin: auto;
}

#identification-page .notes-box .notes {
  width: 45%;
  height: 50px;
  margin: auto;
}

#identification-page .orders-box {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 300px;
}

#identification-page .orders-box .search-box {
  position: absolute;
  z-index: 1;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  right: -30px !important;
}

#identification-page .orders-box .search-box .select {
  position: relative;
  width: 100px;
  padding-top: 8px;
  margin-right: 20px;
}

#identification-page .orders-box .search-box .field {
  position: relative;
  width: calc(100% - 150px);
}

#identification-page .orders-box .search-box .field .v-icon {
  color: green;
}

#identification-page .orders-box .table-box {
  position: relative;
  width: 100% !important;
  height: 485px !important;
  background-color: rgba(255, 255, 255, 0.465);
  text-align: center;
  top: 110px;
}

#identification-page .orders-box .table-box .header-table {
  right: 0px;
  float: right;
}

#identification-page .orders-box .table-box .no-orders {
  font-size: 20px;
  color: grey;
  opacity: 0.8;
  margin-top: 100px;
}

#identification-page .orders-box .table-box .no-orders .v-icon {
  color: grey;
  font-size: 80px;
}

#identification-page .orders-box .table-box .orders-table {
  background-color: rgba(230, 230, 230, 0) !important;
  border-radius: 20px;
  height: 100%;
  margin-right: 20px;
  padding-top: 10px;
}

#identification-page .orders-box .table-box .orders-table .text-start .checkbox-marked {
  width: 10px;
  height: 10px;
}

#identification-page .select-status .v-input__slot {
  min-height: 40px !important;
}

#identification-page .image-box {
  position: relative;
  text-align: center;
}

#identification-page .image-box .btn-camera {
  width: 250px;
  height: 100px;
  border-radius: 10px;
}

#identification-page .image-box .btn-camera .text-btn {
  z-index: 1;
}

#identification-page .image-box .btn-camera .v-icon {
  position: absolute;
  font-size: 100px;
  color: rgba(197, 197, 197, 0.5);
}

#identification-page .image-box .file-btn {
  width: 270px;
  margin-bottom: 20px !important;
}

#identification-page .image-box .img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

#identification-page .content-doc {
  position: relative;
  margin: auto;
  width: 100%;
  height: 600px;
  overflow-x: scroll;
  text-align: center !important;
}

#identification-page .content-doc .invoice-box {
  position: relative;
  width: calc(595px * 2) !important;
  height: calc(842px * 2) !important;
  background-color: white;
  margin: auto;
}

#identification-page .content-analytics {
  text-align: center;
}

#identification-page .content-analytics .result-box {
  font-size: 20px;
  color: grey;
  opacity: 0.8;
  margin-top: 100px;
}

#identification-page .content-analytics .result-box .v-icon {
  color: grey;
  font-size: 80px;
}
/*# sourceMappingURL=identification.css.map */